@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --headerBackground: #4E878C;
    --bodyBackground1: #93E5AB;
    --bodyBackground2: #B5FFE1;
    --footerBackground: #65B891;
    --foreground: #000000;
    --popover: 0 0% 0% / 0.8;
    --popover-foreground: 0 0% 100%;
  }
  .dark {
    --headerBackground: #193F43;
    --bodyBackground1: #10231A;
    --bodyBackground2: #18322A;
    --footerBackground: #1D4E39;
    --foreground: #ffffff;
    --popover: 0 0% 0% / 0.8;
    --popover-foreground: 0 0% 100%;
  }
  /* heading tags */
  h1{
    font-size: 5rem;
  }
  h3{
    font-size: 3rem;
  }
  h5{
    font-size: 1rem;
  }
  /* Partials styling: */
  header{
    background: var(--headerBackground);
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 25px;
    border-bottom-color: var(--foreground);
    border-bottom-width: 1px;
    width: 100vw;
    height: 80px;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 80px;
    max-height: 80px;
    box-sizing: border-box;
  }
  nav{
    display: flex;
    gap: 5rem;
  }
  .active-page {
    text-decoration: underline;
  }
  body {
  background: var(--bodyBackground1);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  }
  body #alt{
    background: var(--bodyBackground2);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
  footer{
  background: var(--footerBackground);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  width: 100vw;
  }
  footer #links {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  /* Global responsive flex utility for text and image layouts */
  .responsive-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 2rem; /* Vertical gap on small screens */
  }
  /* Styling changes for smaller window or screen size. */
  @media (min-width: 768px) {
    .responsive-flex {
      flex-direction: row;
      gap: 2rem; /* Horizontal gap on medium screens and up */
    }
  }
}



